<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pictures are saved</h1>
    <a href="/"><button>Back to homepage</button></a>
  </body>
</html>
